# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build artifacts
lib/
coverage/

# Android
android/build/
android/.gradle/
android/.idea/
android/local.properties
*.iml

# iOS
ios/build/
Pods/
*.xcworkspace
*.xcuserstate

# Editors
.vscode/
.idea/
